<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판 상세 페이지</title>
</head>
<body>

<table border="1">
  <caption>게시판</caption>
  <colgroup>
    <col style="background-color:#CC9999">
    <col style="width:150px">
    <col>
    <col>
    <col>
  </colgroup>
  <thead>
  <tr>
    <th>제목</th>
    <th>내용</th>
    <th>작성자</th>
    <th>날짜</th>
  </tr>
  </thead>
  <tbody>
    <td th:text="${board.title}"></td>
    <td th:text="${board.content}"></td>
    <td th:text="${board.writer}"></td>
    <td th:text="${board.localDateTime}"></td>
  </tbody>
</table>

<a th:href="@{'/boards/boardPage/' + ${board.boardId}}">수정</a>

<form th:action="@{'/boards/'+ ${board.boardId}}" method ="post">
  <input type="hidden" name="_method" value="delete"/>
    <button type="submit">글 삭제</button>
</form>
</body>
</html>