<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>함사세 메인 페이지</title>
</head>
<body>

<h1 th:text= "|로그인 사용자 이름: ${member.memberName}|">사용자님 안녕하세요!</h1>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

<a th:href="@{/boards/new}">글 작성</a>

<table border="1">
    <caption>게시판</caption>
    <colgroup>
        <col style="background-color:#CC9999">
        <col style="width:150px">
        <col>
        <col>
        <col>
    </colgroup>
    <thead>
    <tr>
        <th>제목</th>
        <th>내용</th>
        <th>작성자</th>
        <th>날짜</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="board : ${boards}">
        <td><a th:href="@{'/boards/detail/' + ${board.boardId}}" th:text="${board.title}"></a></td>
        <td th:text="${board.content}"></td>
        <td th:text="${board.writer}"></td>
        <td th:text="${board.localDateTime}"></td>
    </tr>
    </tbody>
</table>


</body>
</html>